<body>
    <div class="grid">
        {% for obj in preparedArr %}
            <div class="card">
                <p>{{ obj.getCardName() }}</p>
                <p>{{ obj.getCardHost() }}</p>
                <p>{{ obj.getCardLink() }}</p>
            </div>    
        {% endfor %}
    </div>
</body>